.DropdownItem{
    // border:1px solid red;
    height:100px;
    width:95%;
    display:flex;
    margin:10px auto;
    align-items: center;
    justify-content: left;
    font-size: 50%;;
    &:hover{
        background-color: #24292e;
        cursor: pointer;
    }
    .avatar{
        width:25%;
        // border:1px solid blue;
    }
    .name{
        width:75%;
        // border:1px solid green;
    text-align: left;
    }
    img{
        border:1px solid gray;
        height:100%;
        width:60%;
        margin-right:20px;
        border-radius: 50%;
    }
}