.header{
    height:8vh;
    // background-color: #24292e;
    
        nav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        a{
            width:33vw;
            // border:1px solid white;
            text-align: center;
        }    
    } 
        .search{
            width:33vw;
            // border:1px solid blue;
            height:5vh;
            form{

                height:5vh;
                width:100%;
                // border:1px solid orange;
                justify-content: center;
                display: flex;

                input{

                    transition-duration: 0.5s ;
                    background-color:#1a1a1b;
                    border:10px solid white;
                    height:80%;
                    width:75%;
                    border-radius: 0 ;
                    border:none;
                    text-align: center;
                    font-size: 80%;
                    font-weight: lighter;
                }
                input:focus{

                    color:white;
                    transition-duration: 0.5s ;
                    background-color: #24292e;
                    
                    transition-timing-function: ease-in-out;
                    border-radius: 5vh ;
                    border:1px solid white;
                    width:95%;
                    font-size: 80%;
                    font-weight: lighter;
                }
            }
        }
    }
