/* 
primary color :  #e0e0e0
secondaary color: #24292e
background : #1a1a1b
*/

body{
  overflow: hidden;
  color:#e0e0e0;
  background-color: #1a1a1b;
  font-family: 'Sen', sans-serif;
  background-image: url("https://desktop.github.com/images/star-bg.svg");
  background-size: cover;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:  #e0e0e0;
}

/* width */
::-webkit-scrollbar {
  
  width: 5px;
  height: 40px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1a1a1b; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: greenyellow; 
  border-radius:4px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:green; 
}